[submodule "GraphicsEngine/vendor/spdlog"]
	path = GraphicsEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GraphicsEngine/vendor/GLFW"]
	path = GraphicsEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
